<nb-card>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="歷程記錄">
        <nb-card>
          <nb-card-header>
            <h6>控制台</h6>
          </nb-card-header>
          <nb-card-body>
            <label>學號: </label>
            <input type="text" fieldSize="large" nbInput id="search" class="search-input" shape="semi-round"
              placeholder="ID">
            <button nbButton status="basic">確認</button>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>詳細資訊</nb-card-header>
          <nb-card-body>
            <div style="margin-top: 10px">
              <input nbButton type="button" value="上一頁" />
              <input nbButton type="button" value="下一頁" />
            </div>
            <table style="width:100%; border:1px #cccccc solid; border-collapse: collapse;" cellpadding="10" border='1'>
              <tr>
                <th style="width:30%">程式碼1</th>
                <th style="width:30%">程式碼2</th>
                <th style="width:30%">歷程變化</th>
              </tr>
              <tr style="margin-top: 2px;">
                <td>
                  50
                </td>
                <td>50</td>
                <td>50</td>
              </tr>
            </table>
          </nb-card-body>
        </nb-card>
      </nb-tab>
      <nb-tab tabTitle="圖表">
        <nb-card ngIf='errorTypeMsgLabels'>
          <nb-card-header>Grade Chart</nb-card-header>
          <nb-card-body>
            <div class="chart-wrapper">
              <canvas baseChart [datasets]="errorTypeMsgData" [labels]="errorTypeMsgLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType" [colors]="colors">
              </canvas>
            </div>
          </nb-card-body>
        </nb-card>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
