<nb-card>
  <nb-card-header>
    <h6>控制台</h6>
  </nb-card-header>

  <nb-card-body style="margin-left: 10px;">
    <h6>學號:</h6>

    <div style="margin-top: 10px">
      <input nbButton type="button" value="確認" />
    </div>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>詳細資訊</nb-card-header>
  <nb-card-body>
    <table style="width:100%; border:1px #cccccc solid; border-collapse: collapse;" cellpadding="10" border='1'>
      <tr>
        <th style="width:20%">學號</th>
        <th style="width:20%">提交資訊</th>
        <th style="width:30%">程式碼1</th>
        <th style="width:30%">程式碼2</th>
      </tr>
      <tr style="margin-top: 2px;">
        <td>
          學號:
          <br />
          姓名:
          <br />
          學院:
          <br />
          班級:
          <br />
          本題作答次數:
          <br />
          <div style="margin-top: 10px">
            <input nbButton type="button" value="上一頁" />
            <input nbButton type="button" value="下一頁" />
          </div>
        </td>
        <td>
          <hr />
          Left:
          <hr />
          提交:
          <br />
          結果
          <br />
          時間
          <hr />
          Right:
          <hr />
          提交:
          <br />
          結果
          <br />
          時間
        </td>
        <td>50</td>
        <td>50</td>
      </tr>
      <tr>
        <td>
          學號:
          <br />
          姓名:
          <br />
          學院:
          <br />
          班級:
          <br />
          本題作答次數:
          <br />
          <div style="margin-top: 10px">
            <input nbButton type="button" value="上一頁" />
            <input nbButton type="button" value="下一頁" />
          </div>
        </td>
        <td>
          <hr />
          Left:
          <hr />
          提交:
          <br />
          結果
          <br />
          時間
          <hr />
          Right:
          <hr />
          提交:
          <br />
          結果
          <br />
          時間
        </td>
        <td>50</td>
        <td>50</td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>Grade Chart</nb-card-header>
  <nb-card-body>
    <div class="chart-wrapper">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType" [colors]="colors">
      </canvas>
    </div>
  </nb-card-body>
</nb-card>
